<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.1/dist/typography.min.css" rel="stylesheet">
    <link href="{{style}}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="w-64 bg-gray-800 text-white fixed h-full overflow-y-auto p-5">
        <h2 class="text-xl font-bold mb-5">{{site_title}}</h2>
        <div class="relative" id="search-container">
            <input type="text" id="search-input" class="border p-2 text-black rounded" placeholder="Type to search...">
            <div class="search-results" id="search-results">
                <ul id="search-results-list"></ul>
            </div>
        </div>
        <br />    
        {{navigation_menu}}
    </nav>
    <div class="ml-64 p-10">
        <h1 class="text-3xl font-bold mb-5" style="margin-bottom: 0px;">{{title}}</h1>
        <div class="last-modified mb-5">{{last_modified_date}} @ {{last_modified_time}}</div>
        <div class="prose !max-w-none">
            {{content}}
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    <script src="{{search_script}}"></script>
    
</body>
</html>
